:import('../../colors.css'){
  green: green;
  lightShadow: lightShadow;
  lightestShadow: lightestShadow;
  darkShadow: darkShadow;
  backgroundGray: backgroundGray;
  navBarHeight: navBarHeight;
  darkGrey: darkGrey;
}
:root{
  --margin-top: 48px;
}
.Container {
  margin-top: var(--margin-top);
  position: relative;
}

.Title {
  font-size: 30px;
  text-align: center;
  border-bottom: none;
}

.ResourceOpts {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 18px;
}

.Search {
  /* height: 100px; */
  font-size: 35px;
}

.List {
  margin-top: 40px;
}

.Selecting {
  width: 100%;
  text-align: center;
  padding: 12px 10px;
  z-index: 1100;
  margin-top: -20px;
  /* box-shadow: lightestShadow; */
  border-radius: 3px;
  background: green;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 700;
}

.SelectCount {
  padding: 6px;
  transition: .2s ease-in-out;
  font-size: 18px;
}

.SelectCountNone {
  /* background: backgroundGray; */
  color: darkGrey;
}

.SelectCountPos {
  color: black;
}