:import('../../../colors.css'){
  blue: blue;
  darkGrey: darkGrey;
}

.Link {
  color: darkGrey;
  padding-bottom: 5px;
  /* transition: .2s; */
}

.Link:hover {
  transition: .2s;
  font-weight: 700;
  color: black;
}
