:import('../../colors.css'){
  lightestShadow: lightestShadow;
  blue: blue;
  lightBlue: lightBlue;
  darkGrey: darkGrey;
}

.Search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: inherit;
  height: 100%;
  width: 100%;
}

.Input {
  order: 1;
  flex: 1 1 auto;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 10px;
  transition: .2s;
  background-color: white;
  font-size: 16px;
  letter-spacing: .08em;
  color: #666;
  caret-color: lightBlue;
  font-family: inherit;
  min-width: 0;
}

.Input:focus{
  border: none;
  border: 1px solid black;
  outline-width: 0;
}

.Icon {
  order: 2;
  flex: 0 0 auto;
  font-size: inherit;
  padding: 5px;
  margin: 0 20px 0 10px;
  color: darkGrey;
}

.Icon:hover {
  color: black;
}
